extends baseEmail

block content     
    p Hi #{firstName},
    p Forgot your password? Touch on button below or follow the link if the button is not displayed 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p If you didn't forget your password, please ignore this email!
    
    a(href=`${url}`) RESET PASSWORD LINK 